    {% load static %}
    <section id="menu" class="menu">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Menu</h2>
          <p>Check Our <span>Yummy Menu</span></p>
        </div>

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

          {% for category in categories %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-{{ category.name|lower }}">
              <h4>{{ category.name|title }}</h4>
            </a>
          </li><!-- End tab nav item -->
          {% endfor %}
        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
          {% for category in categories %}
          <div class="tab-pane fade" id="menu-{{ category.name|lower }}">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>{{ category.name }}</h3>
            </div>

            <div class="row gy-5">
              {% for product in products %}
              {% if product.category_id == category.id %}
              <div class="col-lg-4 menu-item">
                {% if product.image %}
                <a href="{{ product.image.url }}" class="glightbox"><img src="{{ product.image.url }}" class="menu-img img-fluid" alt=""></a>
                {% endif %}
                <h4>{{ product.title }}</h4>
                <p class="ingredients">
                  {{ product.descr }}
                </p>
                <p class="price">
                  ${{ product.price }}
                </p>
              </div><!-- Menu Item -->
              {% endif %}
              {% endfor %}

            </div>
          </div><!-- End Dinner Menu Content -->
          {% endfor %}
        </div>

      </div>
    </section><!-- End Menu Section -->